@import url("https://fonts.cdnfonts.com/css/cuprum");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.cdnfonts.com/css/cuprum");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Inter");
:root {
  --color-black: #333333;
  --color-white-background: #FEFEFE;
  --color-green: #198754;
  --color-dark-green: #12663F;
  --color-darkest-green: #455D58;
  --color-white-green: #CDDFDA;
  --color-darkest-gray: #4F4F4F;
  --color-dark-gray: #828282;
  --color-medium-gray: #B8B8B8;
  --color-light-gray: #E0E0E0;
  --color-lightest-gray: #F2F2F2;
  --color-white: #F8F7F7;
}

.header-top-btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--color-white);
}
.header-top-btn input[type=radio] {
  display: none;
}
@media screen and (max-width: 910px) {
  .header-top-btn {
    height: 55px;
  }
}

.logo-block {
  line-height: normal;
}
.logo-block img {
  max-width: 212px;
  width: 100%;
}
@media screen and (max-width: 910px) {
  .logo-block img {
    max-width: 30%;
  }
}
.logo-block__title {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
  font-family: "Cuprum", sans-serif;
  word-break: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
@media (max-width: 1500px) {
  .logo-block__title {
    font-size: calc(10px + 14 * ((100vw - 320px) / 1180));
  }
}
.logo-block__sub {
  color: var(--color-dark-gray);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0.75rem;
}
@media (max-width: 1500px) {
  .logo-block__sub {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1180));
  }
}
@media screen and (max-width: 910px) {
  .logo-block__sub {
    display: none;
  }
}

.header-info__full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 910px) {
  .header-info__full {
    display: none;
  }
}
.header-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
}
.header-info__link:last-child {
  margin-top: 0.75rem;
}
@media screen and (max-width: 910px) {
  .header-info__link {
    margin-top: 0.75rem;
  }
}
.header-info__link a {
  margin-left: 1rem;
  color: var(--color-black);
  text-decoration: none;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
.header-info__link .bi {
  color: var(--color-green);
}
@media (hover: hover) and (pointer: fine) {
  .header-info__link:hover a {
    color: var(--color-green);
  }
}
.header-info__icon:not(:first-child) {
  margin-left: 0.75rem;
}
.header-info__icon svg path {
  fill: var(--color-green);
}
@media (hover: hover) and (pointer: fine) {
  .header-info__icon:hover path {
    fill: var(--color-dark-green);
  }
}

.header-info .info-search {
  display: none;
}

.info-search {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-light-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-search input {
  border: none;
  width: 100%;
}
.info-search input:focus-visible {
  outline: none;
}
.info-search ::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}
.info-search ::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}
.info-search :-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}
.info-search ::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}
.info-search input, .info-search ::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}
.info-search .bi {
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: var(--color-green);
}

:root {
  --color-black: #333333;
  --color-white-background: #FEFEFE;
  --color-green: #198754;
  --color-dark-green: #12663F;
  --color-darkest-green: #455D58;
  --color-white-green: #CDDFDA;
  --color-darkest-gray: #4F4F4F;
  --color-dark-gray: #828282;
  --color-medium-gray: #B8B8B8;
  --color-light-gray: #E0E0E0;
  --color-lightest-gray: #F2F2F2;
  --color-white: #F8F7F7;
}

@layer base {
  .full-container {
    width: 100%;
    padding: 0 12px;
  }
  .main-container {
    margin: 0 auto;
    max-width: 1500px;
  }
}
@layer component {
  .row-container {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row-0 {
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1500px;
    }
  }
  @media (max-width: 992px) {
    .container {
      max-width: 1100px;
    }
  }
  @media (max-width: 768px) {
    .container {
      max-width: 900px;
    }
  }
  @media (max-width: 576px) {
    .container {
      max-width: 700px;
    }
  }
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 910px) {
  .main-nav, .nav-hr {
    display: none;
  }
}
.nav-modal {
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--color-green);
}
.nav-modal .bi {
  font-size: 35px;
}
@media (max-width: 1500px) {
  .nav-modal .bi {
    font-size: calc(31px + 4 * ((100vw - 320px) / 1180));
  }
}

.nav-hr {
  margin: -1px 0;
  z-index: 2;
}

.nav-toggle {
  display: block;
  background-color: transparent;
  padding: 1rem 0.625rem 0 0.625rem;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.nav-toggle > a {
  color: var(--color-green);
  font-weight: 600;
  line-height: normal;
  font-family: "Rubik", sans-serif;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  font-size: 18px;
}
@media (max-width: 1500px) {
  .nav-toggle > a {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1180));
  }
}
@media (hover: hover) and (pointer: fine) {
  .nav-toggle:hover:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
.nav-toggle::after {
  margin-top: 14px;
  display: block;
  content: "";
  position: relative;
  border-bottom: solid 2px var(--color-green);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

@media (hover: hover) and (pointer: fine) {
  .nav-toggle:hover {
    cursor: pointer;
  }
}
.nav-dropdown .nav-toggle .dropdown-content-wrapper {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: transparent;
}
.nav-dropdown .nav-toggle .dropdown-content-wrapper .dropdown-content {
  background: var(--color-white-background);
  margin-top: 2rem;
  padding-top: 1rem;
  width: 100%;
}

.dropdown-content {
  font-family: "Inter", sans-serif;
}

@layer base {
  .dropdown-content a {
    font-size: 14px;
    color: var(--color-black);
    line-height: 171%;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
  }
  @media (max-width: 1500px) {
    .dropdown-content a {
      font-size: calc(12px + 2 * ((100vw - 320px) / 1180));
    }
  }
  .dropdown-content a:not(:first-child) {
    margin: 13px 0;
  }
  @media (hover: hover) and (pointer: fine) {
    .dropdown-content a:hover {
      color: var(--color-green);
    }
  }
}
@layer component {
  .dropdown-content__title {
    font-size: 16px;
    line-height: 150%;
    color: var(--color-green);
    font-weight: 600;
  }
  @media (max-width: 1500px) {
    .dropdown-content__title {
      font-size: calc(14px + 2 * ((100vw - 320px) / 1180));
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  .nav-dropdown .nav-toggle:hover > .dropdown-content-wrapper,
  .nav-dropdown .nav-toggle .dropdown-content-wrapper:hover {
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }
}
.nav-border {
  border-left: 1px solid var(--color-light-gray);
}

@layer component {
  #navModal .modal-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navModal .modal-header .btn-close {
    font-size: 28px;
    line-height: 28px;
  }
  #navModal .modal-fullscreen .modal-content {
    height: auto;
  }
  #navModal .modal-footer {
    padding: 0;
  }
}
.nav-modal-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--color-darkest-gray);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  margin: 0.75rem 0;
}
@media (hover: hover) and (pointer: fine) {
  .nav-modal-links a:hover {
    color: var(--color-green);
  }
}

.mobile-header-btn {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 910px) {
  .mobile-header-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-header-btn__search {
  border: none;
  background-color: transparent;
  font-size: 22px;
  padding: 0;
  color: var(--color-dark-gray);
}

.burger {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  z-index: 10;
  display: grid;
  place-items: center;
}
.burger span {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color-dark-gray);
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -8px;
}
.burger span::after {
  top: 8px;
}
@media screen and (max-width: 910px) {
  .burger {
    display: grid;
  }
}
.burger.show span {
  background-color: transparent;
}
.burger.show span::before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.burger.show span::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.burger.show span:before, .burger.show span:after {
  background-color: var(--color-dark-gray);
}
.burger:hover {
  cursor: pointer;
}

nav.mobile-menu {
  background-color: var(--color-white-background);
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  margin-top: 155px;
  height: 100%;
  max-width: 19.625rem;
  width: 100%;
  padding: 2.25rem 0.75rem 2.25rem 1.125rem;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@layer component {
  nav.mobile-menu hr {
    margin: 0;
  }
}
@media screen and (max-width: 910px) {
  nav.mobile-menu.show {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
nav.mobile-menu.show ul.mobile-list li {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(5) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(6) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(7) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(8) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(9) {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(10) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(11) {
  -webkit-transition-delay: 1.65s;
          transition-delay: 1.65s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(12) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(13) {
  -webkit-transition-delay: 1.95s;
          transition-delay: 1.95s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(14) {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(15) {
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(16) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(17) {
  -webkit-transition-delay: 2.55s;
          transition-delay: 2.55s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(18) {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}
nav.mobile-menu.show ul.mobile-list li:nth-child(19) {
  -webkit-transition-delay: 2.85s;
          transition-delay: 2.85s;
}
nav.mobile-menu.show ul.mobile-list .collapse.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav.mobile-menu.show ul.mobile-list .collapse.show a {
  color: var(--color-dark-green);
  white-space: nowrap;
}
nav.mobile-menu.show ul.mobile-list .collapse.show a .bi {
  font-size: 1rem;
  color: var(--color-dark-green);
}
nav.mobile-menu.show hr {
  border-top: 1px solid var(--color-dark-green);
}
nav.mobile-menu ul.mobile-list {
  list-style-type: none;
  padding-left: 0;
}
nav.mobile-menu ul.mobile-list li {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
}
nav.mobile-menu ul.mobile-list li .bi {
  color: var(--color-dark-green);
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
nav.mobile-menu ul.mobile-list li .bi::before {
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  color: var(--color-dark-green);
}
nav.mobile-menu ul.mobile-list li a {
  color: var(--color-dark-green);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.125rem;
  display: block;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.mobile-menu ul.mobile-list li a[aria-expanded=true] .bi::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
nav.mobile-menu .bi-facebook {
  color: var(--color-dark-green);
  font-size: 1.875rem;
}

body {
  scrollbar-gutter: stable;
}

body:has(.overlay.show) {
  overflow: hidden;
  scrollbar-gutter: stable !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-darkest-gray);
  opacity: 0;
  visibility: hidden;
  scrollbar-gutter: stable;
}
@media screen and (max-width: 910px) {
  .overlay.show {
    opacity: 0.8;
    visibility: visible;
  }
}

a {
  text-decoration: none;
}

.fs-16 {
  font-size: 16px;
}

.ff-rubik {
  font-family: "Rubik", sans-serif;
}

.arrow-link {
  color: var(--color-green);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid transparent;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 910px) {
  .arrow-link {
    padding: 0.5rem 0;
  }
}
.arrow-link span {
  word-wrap: normal;
  white-space: normal;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.arrow-link::after {
  color: var(--color-green);
  content: "\f285";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 6px;
  font-size: 0.875rem;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .arrow-link:hover {
    border-bottom: 1px solid var(--color-green);
  }
  .arrow-link:hover::after {
    -webkit-transform: translateX(0.5rem) scaleY(0.8);
        -ms-transform: translateX(0.5rem) scaleY(0.8);
            transform: translateX(0.5rem) scaleY(0.8);
  }
}

.link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white-background);
  padding: 1.5rem;
  width: 100%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
@media screen and (max-width: 910px) {
  .link-block {
    padding: 0.75rem;
  }
}
.link-block picture {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
@media (hover: hover) and (pointer: fine) {
  .link-block:hover {
    border: 1px solid var(--color-green);
  }
  .link-block:hover > div {
    color: var(--color-green);
  }
}
.link-block__title {
  color: var(--color-black);
  font-family: "Cuprum", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
}
.link-block__sub {
  color: var(--color-dark-gray);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-top: 0.625rem;
}
.link-block__arrow .bi {
  color: var(--color-green);
  font-size: 1.5rem;
  line-height: 1.5rem;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .link-block:hover .link-block__arrow .bi {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@layer component {
  @media (hover: hover) and (pointer: fine) {
    .btn-close:hover {
      color: var(--color-darkest-gray);
    }
  }
  .btn-close:focus {
    -webkit-box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--color-green) 25%, transparent 75%);
            box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--color-green) 25%, transparent 75%);
  }
}