@import '../../functional/burger.scss';

.mobile-header-btn{
     display: none;
     @media #{$ui-tablet} {
          display: flex;
     }
     flex-direction: row;
     &__search{
          border: none;
          background-color: transparent;
          font-size: 22px;
          padding: 0;
          color: var(--color-dark-gray);
     }
}
.burger {
     width: 50px;
     height: 50px;
     border-radius: 4px;
     z-index: 10;
     display: grid;
     place-items: center;
     span {
          @include burger(30px, 2px, 6px, var(--color-dark-gray));
     }
     @media #{$ui-tablet} {
          display: grid;
     }
     &.show {
          span {
               @include burger-to-cross;
               &:before, &:after {
                         background-color: var(--color-dark-gray);
                    }
          }
     }
     &:hover {
          cursor: pointer;
     }
}

nav.mobile-menu {
     background-color: var(--color-white-background);
     position: fixed;
     z-index: $layer-modal;
     top: 0;
     right: 0;
     min-height: 100%;
     max-width: 80%;
     overflow: hidden;
     width: 100%;
     padding: 1.5rem;
     overflow-y: visible;
     @include transform(translateX(100%));
     @include transition(transform .55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
     @layer component{
          hr{
               margin: 0;
          }
     }
     &.show {
          @media #{$ui-tablet} {
               @include transform(translateX(0px));
          }
          .mobile-list {
               .mobile-list__item {
                    @include transform(translateX(0px));
                    opacity: 1;
                    @for $i from 1 to 20 { 
                         &:nth-child(#{$i}) {
                                   transition-delay: $i * 0.15s;
                              }
                         }
               }
               .collapse{
               }
               .collapse.show{
                    display: flex;
                    flex-direction: column;
                    
               }
          }
     }

     .mobile-list {
          padding: 1.5rem;
          padding-bottom: 10rem;
          position: absolute; 
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow-y: auto;
          .mobile-list__item {
               @include transform(translateX(40px));
               opacity: 0;
               @include transition(all .3s ease);
               padding: .75rem 0;
               border-bottom: 1px solid var(--color-light-gray);
               &:last-of-type {
                    border-bottom: none;
               }
               .bi{
                    color: var(--color-dark-green);
                    transition: $transition-3;
               }
               .bi::before{
                    transition: $transition-3;
                    color: var(--color-dark-green);
               }
          }
     }
     .bi-facebook{
          color: var(--color-dark-green);
          font-size: 1.875rem;
     }
}
body{
     scrollbar-gutter: stable;
}
body:has(.overlay.show){
     overflow: hidden;
     scrollbar-gutter: stable !important;
}
.overlay {
     position: fixed;
     top: 0;
     left: 0;
     z-index: $layer-base;
     width: 100%;
     height:100%;
     @include transition(all 0.3s ease-in-out);
     background-color: var(--color-darkest-gray);
     opacity: 0;
     visibility: hidden;
     scrollbar-gutter: stable;
     &.show {
          @media #{$ui-tablet} {
               opacity: 0.8;
               visibility: visible;
          }
     }
}

.search-header{
     .search-btn{
          display: grid;
          place-items: center;
          background-color: var(--color-green);
          color: var(--color-white);
          border-radius: 2px;
          font-family: $font-Rubik;
          text-transform: uppercase;
          font-weight: 400;
          font-size: .875rem;
     }
}

@import './mobile-accordion';