@layer component{
    .mobile-menu{
        .accordion-button:not(.collapsed) {
            color: var(--color-green);
            background-color: transparent;
            box-shadow: 0;
        }
        .accordion-item:first-of-type .accordion-button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .accordion-button {
            @include adaptiv-value('font-size', 18, 16, 1);
            color: var(--color-black);
            text-transform: uppercase;
        }
        .accordion-item {
            color: var(--color-back);
        }
        .accordion-body {
            padding: 0;
            margin-top: .75rem;
            a{
                font-size: 14px;
                &:not(:first-child){
                    margin-top: .5rem;
                }
            }
        }
    }
}