@import './ui-comp/header';
@import './ui-comp/mobile/mobile-menu';
a{
     text-decoration: none;
}

.fs-16{
     font-size: 1rem;
}

.fs-18{
     font-size: 1.125rem;
}

.fs-14{
     font-size: .875rem;
}

.fs-12{
     font-size: .75rem;
}


.ff-rubik{
     font-family: $font-Rubik;
}

.arrow-link{
     color: var(--color-green);
     font-family: $font-Rubik;
     font-size: 18px;
     font-weight: 500;
     line-height: normal;
     border-bottom: 1px solid transparent;
     transition: $transition-3;
     padding: 1rem 0;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-start;
     @media #{$ui-tablet} {
          padding: .5rem 0;
     }
     span{
          word-wrap: normal;
          white-space: normal;
          width: min-content;
     }
     &::after{
          color: var(--color-green);
          content: '\F285';
          display: inline-block;
          font-family: bootstrap-icons !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -.125em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: 6px;
          font-size: .875rem;
          transition: $transition-3;
     }
     
     @media #{$mouse-device} {
          &:hover{
               border-bottom: 1px solid var(--color-green);
               &::after{
                    transform: translateX(.5rem) scaleY(0.8);
               }
          }
     }
}

.link-block{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     border: 1px solid var(--color-light-gray);
     background-color: var(--color-white-background);
     padding: 1.5rem;
     width: 100%;
     @media #{$ui-tablet} {
          padding: .75rem;
     }
     transition: $transition-3;
     picture{
     }
     @media #{$mouse-device} {
          cursor: pointer;
          &:hover{
               &>div{
                    color: var(--color-green);
               }
               border: 1px solid var(--color-green);
          }
     }
     &__title{
          color: var(--color-black);
          font-family: $font-Cuprum;
          font-size: 1.25rem;
          font-weight: 700;
          line-height: normal;
     }
     &__sub{
          color: var(--color-dark-gray);
          font-family: $font-Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.2px;
          margin-top: .625rem;
     }
     &__arrow{
          .bi{
               color: var(--color-green);
               font-size: 1.5rem;
               line-height: 1.5rem;
               transition: $transition-3;
          }
     }
     @media #{$mouse-device} {
          &:hover{
               .link-block__arrow{
                    .bi{
                         transform: rotate(45deg);
                    }
               }
          }
     }
}

@layer component{
     @media #{$mouse-device} {
          .btn-close:hover{
               color: var(--color-darkest-gray);
          }
     }
}
@layer component{
     .btn-close:focus{
          box-shadow: 0 0 0 .25rem color-mix(in srgb, var(--color-green) 25%, transparent 75%);
     }
}

@import './ui-comp/footer';

.breadcrumbs{
     margin-bottom: 1.875rem;
     margin-top: 3.75rem;
     @media #{$ui-tablet} {
          margin-top: 1.875rem;
     }
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     font-family: $font-Rubik;
     a{
          color: var(--color-black);
          font-size: .875rem;
          line-height: normal;
          font-weight: 400;
          &:not(:last-child){
               &::after{
                    content: " /";
               }
          }
          &::after{
               margin-right: 4px;
          }
          &:last-child{
               color: var(--color-dark-gray);
          }
     }
}

.content-title {
     font-size: 2rem;
     font-weight: 700;
     line-height: normal;
}
.content-title,.content-text{
     color: var(--color-black);
     font-family: $font-Rubik;
}
.content-text {
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 150%;
}

@layer component {
     .accordion{
          --bs-accordion-border-width: 0;
     }
     .accordion-button:focus {
          border: 0;
          border-color: transparent;
          box-shadow: none;
     }
     .accordion-button {
          padding: 0;
          text-align: left;
          background-color: transparent;
          transition: $transition-3;
          font-weight: 500;
     }
     .accordion-item {
          background-color: transparent;
          border: none;
     }
     .accordion-button:not(.collapsed)::after {
          background-image: var(--bs-accordion-btn-icon);
     }
     .accordion-button-empty::after{
          display: none;
     }
}

@import './ui-comp/_side-nav.scss';

.go-back-link{
     color: var(--color-green);
     font-size: 1rem;
     font-weight: 400;
     font-family: $font-Rubik;
     line-height: normal;
     &::before{
          content: '\F284';
          display: inline-block;
          font-family: bootstrap-icons !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -0.125em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: .875rem;
     }
}

.title-line {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     span{
          color: var(--color-black);
          font-family: $font-Rubik;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 150%;
          &::after{
               display: block;
               position: relative;
               top: 3px;
               content: '';
               width: 100%;
               border-bottom: 3px solid var(--color-green);
          }
     }
     &__line{
          height: 3px;
          width: 100%;
          background-color: var(--color-light-gray);
     }
}

.title-line-name{
     span{
          color: var(--color-green);
          font-size: 20px;
          text-transform: uppercase;
          line-height: 120%;
     }
}

ul.list-dot {
     list-style: none;
     font-family: $font-Rubik;
     color: var(--color-black);
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 150%;
     li::before {
          content: "\2022";
          color: var(--color-green);
          font-size: 26px;
          line-height: 26px;
          font-weight: bold;
          display: inline-block; 
          width: 1em;
          margin-left: -1em;
     }
}

.list-num{
     &, li{
          font-family: $font-Rubik;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: var(--color-black);
     }
}

.link-block-alt {
     display: flex; 
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     color: var(--color-black);
     font-family: $font-Rubik;
     font-size: 1rem;
     font-weight: 500;
     line-height: 120%;
     text-transform: uppercase;
     transition: $transition-3;
     border: 1px solid var(--color-light-gray);
     padding: 20px;
     @media #{$mouse-device} {
          &:hover{
               border: 1px solid var(--color-green);
               color: var(--color-green);
          }
     }
     &__icon{
          margin-left: 20%;
          @media #{$ui-tablet} {
               margin-left: 5%;
          }
     }
     &__icon::before {
          content: '\F144';
          color: var(--color-green);
          font-size: 1rem;
          display: inline-block;
          font-family: bootstrap-icons !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -.125em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
     }
}

.link-block-alt-download{
     .link-block-alt__icon::before {
          content: '\F30A';
     }
}

.highlighter-left{
     padding: .75rem .5rem .75rem 2rem;
     border-left: 3px solid var(--color-green);
     color: var(--color-black);
     font-family: $font-Rubik;
     font-size: 1.125rem;
     font-weight: 500;
     line-height: 150%;
}

.btn-default{
     padding: .5rem 1rem;
     background-color: var(--color-green);
     color: var(--color-white);
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 150%;
     transition: $transition-3;
     width: fit-content;
     user-select: none;
     @media #{$mouse-device} {
          &:hover{
               background-color: var(--color-dark-green);
          }
     }
}

@layer component{
     .accordion-item:first-of-type .accordion-button {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
     }
     .accordion-item:last-of-type .accordion-button.collapsed{
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
     }
}

#accordionList{
     @layer component{
          .accordion-button{
               border: 1px solid var(--color-medium-gray);
               padding: 20px;
               color: var(--color-black);
               font-family: $font-Rubik;
               font-weight: 500;
               line-height: 120%;
               text-transform: uppercase;
               transition: $transition-3;
               @media #{$mouse-device} {
                    &:hover{
                         border: 1px solid var(--color-green);
                         color: var(--color-green);
                    }
               }
               &:focus{
                    border: 1px solid var(--color-green);
                    color: var(--color-green);
               }
          }
     }
     .accordion-body{
          border: 1px solid var(--color-medium-gray);
          border-top: 0;
     }
}


.adv-block {
     border: 1px solid var(--color-light-gray);
     padding: 0 .75rem 1.6875rem 1.9375rem;
     transition: $transition-3;
     @media #{$ui-tablet} {
          padding: 1rem 2rem 1rem 1rem;
     }
     @media #{$mouse-device} {
          &:hover{
               border: 1px solid var(--color-green);
          }
          &:hover &__text{
               color: var(--color-green);
          }
     }
     width: 100%;
     &__img {
          background-color: var(--color-white-background);
          padding: 0 1.5rem 0 .25rem;
          position: relative;
          top: -1.5rem;
          width: fit-content;
          @media #{$ui-tablet} {
               display: none;
          }
     }

     &__text {
          color: var(--color-black);
          font-family: $font-Cuprum;
          font-size: 1.125rem;
          font-weight: 700;
     }
}


.dir-block {
     background-color: var(--color-white);
     backdrop-filter: blur(5px);
     overflow: hidden;
     &>:first-child{
          padding: 2.25rem .5rem 1.5rem 1.75rem;
     }
     &__title {
          color: var(--color-black);
          font-family: $font-Cuprum;
          font-size: 1.5rem;
          font-weight: 400;
     }

     &__name {
          color: var(--color-green);
          font-family: $font-Rubik;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 150%;
          margin-top: 1rem;
     }

     &__sub {
          color: var(--color-darkest-gray);
          font-family: $font-Rubik;
          font-size: .875rem;
          font-weight: 400;
          line-height: 150%;
          margin-top: 2px;
     }

     &__img {
          display: grid;
          place-items: center;
          img{
               transform: scale(-1, 1);
               width: 100%;
               max-width: 26.5rem;
          }
     }
}
