@import './ui-comp/header';
@import './ui-comp/mobile/mobile-menu';
a{
     text-decoration: none;
}

.fs-16{
     font-size: 1rem;
}

.fs-18{
     font-size: 1.125rem;
}

.fs-14{
     font-size: .875rem;
}

.fs-12{
     font-size: .75rem;
}


.ff-rubik{
     font-family: $font-Rubik;
}

.arrow-link{
     color: var(--color-green);
     font-family: $font-Rubik;
     font-size: 18px;
     font-weight: 500;
     line-height: normal;
     border-bottom: 1px solid transparent;
     transition: $transition-3;
     padding: 1rem 0;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-start;
     @media #{$ui-tablet} {
          padding: .5rem 0;
     }
     span{
          word-wrap: normal;
          white-space: normal;
          width: min-content;
     }
     &::after{
          color: var(--color-green);
          content: '\F285';
          display: inline-block;
          font-family: bootstrap-icons !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -.125em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: 6px;
          font-size: .875rem;
          transition: $transition-3;
     }
     
     @media #{$mouse-device} {
          &:hover{
               border-bottom: 1px solid var(--color-green);
               &::after{
                    transform: translateX(.5rem) scaleY(0.8);
               }
          }
     }
}

.link-block{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     border: 1px solid var(--color-light-gray);
     background-color: var(--color-white-background);
     padding: 1.5rem;
     width: 100%;
     @media #{$ui-tablet} {
          padding: .75rem;
     }
     transition: $transition-3;
     picture{
          margin-top: 2rem;
          margin-bottom: 1.5rem;
     }
     @media #{$mouse-device} {
          &:hover{
               &>div{
                    color: var(--color-green);
               }
               border: 1px solid var(--color-green);
          }
     }
     &__title{
          color: var(--color-black);
          font-family: $font-Cuprum;
          font-size: 1.25rem;
          font-weight: 700;
          line-height: normal;
     }
     &__sub{
          color: var(--color-dark-gray);
          font-family: $font-Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.2px;
          margin-top: .625rem;
     }
     &__arrow{
          .bi{
               color: var(--color-green);
               font-size: 1.5rem;
               line-height: 1.5rem;
               transition: $transition-3;
          }
     }
     @media #{$mouse-device} {
          &:hover{
               .link-block__arrow{
                    .bi{
                         transform: rotate(45deg);
                    }
               }
          }
     }
}

@layer component{
     @media #{$mouse-device} {
          .btn-close:hover{
               color: var(--color-darkest-gray);
          }
     }
     .btn-close:focus{
          box-shadow: 0 0 0 .25rem color-mix(in srgb, var(--color-green) 25%, transparent 75%);
     }
}