$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1344;
// $maxWidthContainerPersonal: 1830;

// *Colors*

// *------*


// *! Fonts*


$fontSize: 16px;
// *!------*

// *? Border*
$border-top-25: 25px 25px 0px 0px;
$border-main: 25px;
$border-20: 20px;
// *?------*

// *! Transition *
$transition-main-3: all ease-out .3s;
// *!------*


// *? Media rules*
$mouse-device: '(hover: hover) and (pointer: fine)';
$ui-mobile: 'screen and (max-width: 650px)';
$ui-tablet: 'screen and (max-width: 910px)';

// *! z-indexs* 
$layer-all-base: 2;
$layer-ui-basic: 3; //header, footer, menu
$layer-modal: 4;
// *!------*