@layer component{
     .bg-green{
          background-color: var(--color-green);
     }
     .color-green{
          color: var(--color-green);
     }
     
     .bg-white{
          background-color: var(--color-white-background);
     }
     
     .color-white{
          color: var(--color-white);
     }

     .bg-lightest-gray{
          background-color: var(--color-lightest-gray)
     }

     .color-dark-gray{
          color: var(--color-dark-gray);
     }
}