$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1500;
// $maxWidthContainerPersonal: 1830;

// *Colors*
// $color-black: var(--color-black);
// $color-white-background: var(--color-white-background);
// $color-green: var(--color-green);
// $color-dark-green: var(--color-dark-green);
// $color-darkest-green: var(--color-darkest-gray);
// $color-white-green: var(--color-white-green);
// $color-darkest-gray: var(--color-darkest-gray);
// $color-dark-gray: var(--color-dark-gray);
// $color-medium-gray: var(--color-medium-gray);
// $color-light-gray: var(--color-light-gray);
// $color-lightest-gray: var(--color-lightest-gray);
// $color-white: var(--color-white);
:root{
     --color-black: #333333;
     --color-white-background: #FEFEFE;
     --color-green: #198754;
     --color-dark-green: #12663F;
     --color-darkest-green: #455D58;
     --color-white-green: #CDDFDA;
     --color-darkest-gray: #4F4F4F;
     --color-dark-gray: #828282;
     --color-medium-gray: #B8B8B8;
     --color-light-gray: #E0E0E0;
     --color-lightest-gray: #F2F2F2;
     --color-white: #F8F7F7;
}
// *------*


// *! Fonts*
@import url('https://fonts.cdnfonts.com/css/cuprum');
$font-Cuprum: 'Cuprum', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Rubik');
$font-Rubik: 'Rubik', sans-serif;
// $font-family: 'CuprumFFU', sans-serif;
$fontSize: 16px;
// *!------*

// *? Border*
$border-25: 25px;
$border-20: 20px;
// *?------*

// *! Transition *
$transition-3: all ease-out .3s;
// *!------*


// *? Media rules*
$mouse-device: '(hover: hover) and (pointer: fine)';
$ui-mobile: 'screen and (max-width: 650px)';
$ui-tablet: 'screen and (max-width: 910px)';

// *! z-indexs* 
$layer-base: 2;
$layer-ui: 3; //header, footer, menu
$layer-modal: 4;
// *!------*