.lang-btn{
     font-size: .875rem;
     font-family: $font-Rubik;
     text-transform: uppercase;
     line-height: normal;
     padding: .375rem .625rem;
     &:not(:nth-child(2), :last-child){
          margin: 0 4px;
     }
     border: 1px solid transparent;
     transition: $transition-2;
     @media #{$mouse-device} {
          cursor: pointer;
          &:hover{
               border-bottom: 1px solid var(--color-white);
          }
     }
}

input[type='radio']:checked + label.lang-btn{
     border: 1px solid var(--color-white);
}

.vision-btn{
     background-color: transparent;
     border: none;
     color: var(--color-white);
     font-size: 1rem;
     line-height: normal;
     font-family: $font-Rubik;
     span{
          margin: 0 0 0 12px;
     }
}
