
.slider-img{
     max-height: 50rem;
     .swiper-slide{
          img{
               aspect-ratio: 1.3;
          }
     }
     .swiper-button-next, .swiper-button-prev {
          color: var(--color-medium-gray);
          transition: $transition-3;
          @media #{$mouse-device} {
               &:hover{
                    color: var(--color-green);
               }
          }
     }
     .swiper-button-next:after, .swiper-button-prev:after{
          font-size: 2rem;
     }
}

.slider-img-prev{
     max-height: 10.625rem;
     .swiper-slide{
          img{
               aspect-ratio: 1.4;
          }
     }
}

.slider-img .swiper-slide, .slider-img-prev .swiper-slide{
     img{
          width: 100%;
          object-fit: cover;
     }
}