@layer component{
     .swiper-button-next, .swiper-button-prev {
          padding: 10px;
          width: 38px;
          height: 38px;
     }
     .swiper-button-next:after, .swiper-button-prev:after {
          font-size: 1rem;
          line-height: 1rem;
     }
     .swiper-pagination-bullet-active {
          opacity: var(--swiper-pagination-bullet-opacity, 1);
          background: var(--color-green) !important;
     }
     .swiper-pagination-bullet {
          background: #D9D9D9;
          opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
     }
     .swiper-news{
          .swiper-button-next, .swiper-button-prev {
               color: var(--color-medium-gray);
               border: 1px solid var(--color-medium-gray);
          }
          .swiper-slide{
               overflow: hidden;
          }
          .swiper-pagination {
               text-align: left;
          }
          .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
               bottom: var(--swiper-pagination-bottom, 1.25rem);
               left: 1.875rem;
               @media #{$ui-tablet} {
                    bottom: var(--swiper-pagination-bottom, 5px);
               }
          }
          .swiper-pagination-bullet {
               width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,16px));
               height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,16px));
               @media #{$ui-tablet} {
                    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size, 10px));
                    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size, 10px));
               }
          }
          @media #{$ui-tablet} {
               .swiper-button-next, .swiper-button-prev{
                    top: var(--swiper-navigation-top-offset, 10%);
               }
          }
          .swiper-slide-filter{
               display: grid;
               place-items: center;
               width: 100%;
               height: 100%;
               background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
               img{
                    height: 100%;
                    position:relative;
                    z-index:-1;
                    display:block;
               }
          }
          .swiper-slide{
               img{
                    transition: $transition-3;
               }
               @media #{$mouse-device} {
                    &:hover img{
                         transform: scale(115%);
                    }
               }
          }
     }
}
.swiper-news:not(.swiper-photo){
     &, .swiper-wrapper, .swiper-slide, .swiper-slide-filter{
          max-height: 40.5rem;
          @media #{$ui-tablet} {
               max-height: 25rem;
          }
     }
}
.swiper-news{
     &__text{
          position: relative;
          z-index: 5;
          top: -210px;
          left: 30px;
          color: var(--color-white-background);
          font-family: $font-Rubik;
          max-width: 90%;
          span{
               display: block;
               font-size: 1rem;
               font-weight: 400;
          }
          p{
               overflow: hidden;
               -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-line-clamp: 5;
               -webkit-box-orient: vertical;
               font-size: 1.125rem;
               font-weight: 600;
          }
     }
}

.swiper-photo{
     @layer component{
          &, .swiper-wrapper, .swiper-slide, .swiper-slide-filter{
               max-height: 20.375rem;
          }
     }
     .swiper-button-next, .swiper-button-prev {
          color: var(--color-green);
          border: 1px solid #CDDFDA;
     }
     @layer component{
          .swiper-button-next, .swiper-button-prev {
               position: absolute;
               top: -5%;
               margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
               z-index: 12;
               cursor: pointer;
               display: flex;
               align-items: center;
               justify-content: center;
               color: var(--swiper-navigation-color,var(--swiper-theme-color));
          }
     }
     @layer component{
          .swiper-news__text{
               top: -200px !important;
               @media #{$ui-mobile} {
                    top: -200px !important;
               }
          }
          
     }
     .swiper-slide-filter{
          img{
               @media screen and (min-width: 1100px) {
                    left: -30%;
               }
          }
     }
}

.swiper-nav-out{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     .swiper-button-next, .swiper-button-prev {
          position: static;
          color: var(--color-green);
          border: 1px solid #CDDFDA;
          margin-top: 0;
     }
     .swiper-button-next{
          margin-left: .75rem;
     }
}


#swiperVideo{
     &, .swiper-wrapper, .swiper-slide{
          max-height: fit-content;
     }
     .swiper-video-block{
          overflow: hidden;
          display: grid;
          place-items: center;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
          position: relative;
          &::after{
               position: absolute;
               content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='68' viewBox='0 0 68 68' fill='none'%3E%3Cpath d='M28.8575 21.6439C28.5398 21.4177 28.1659 21.2833 27.7768 21.2554C27.3878 21.2276 26.9985 21.3073 26.6518 21.486C26.305 21.6646 26.0142 21.9352 25.811 22.2682C25.6078 22.6012 25.5002 22.9836 25.5 23.3737V44.6237C25.5002 45.0137 25.6078 45.3962 25.811 45.7292C26.0142 46.0622 26.305 46.3328 26.6518 46.5114C26.9985 46.6901 27.3878 46.7698 27.7768 46.742C28.1659 46.7141 28.5398 46.5797 28.8575 46.3534L43.7325 35.7284C44.008 35.5319 44.2325 35.2724 44.3874 34.9715C44.5423 34.6706 44.6232 34.3371 44.6232 33.9987C44.6232 33.6603 44.5423 33.3268 44.3874 33.0259C44.2325 32.725 44.008 32.4655 43.7325 32.2689L28.8575 21.6439Z' fill='%23F8F7F7'/%3E%3Cpath d='M0 17C0 14.7457 0.895533 12.5837 2.48959 10.9896C4.08365 9.39553 6.24566 8.5 8.5 8.5H59.5C61.7543 8.5 63.9163 9.39553 65.5104 10.9896C67.1045 12.5837 68 14.7457 68 17V51C68 53.2543 67.1045 55.4163 65.5104 57.0104C63.9163 58.6045 61.7543 59.5 59.5 59.5H8.5C6.24566 59.5 4.08365 58.6045 2.48959 57.0104C0.895533 55.4163 0 53.2543 0 51V17ZM63.75 17C63.75 15.8728 63.3022 14.7918 62.5052 13.9948C61.7082 13.1978 60.6272 12.75 59.5 12.75H8.5C7.37283 12.75 6.29183 13.1978 5.4948 13.9948C4.69777 14.7918 4.25 15.8728 4.25 17V51C4.25 52.1272 4.69777 53.2082 5.4948 54.0052C6.29183 54.8022 7.37283 55.25 8.5 55.25H59.5C60.6272 55.25 61.7082 54.8022 62.5052 54.0052C63.3022 53.2082 63.75 52.1272 63.75 51V17Z' fill='%23F8F7F7'/%3E%3C/svg%3E");
               display: inline-block;
          }
     }
     .swiper-video-img, img{
          display: block;
          width: 100%;
          height: auto;
          position:relative;
          z-index:-1;
     }
     .swiper-slide{
          font-family: $font-Rubik;
          p{
               color: var(--color-black);
               font-size: 1.125rem;
               font-weight: 600;
               @media #{$ui-tablet} {
                    font-size: 1rem;
               }
          }
          span{
               color: var(--color-dark-gray);
               font-size: 1rem;
               font-weight: 400;
               @media #{$ui-tablet} {
                    font-size: .875rem;
               }
          }
     }
     .swiper-video-text{
          background-color: var(--color-white-background);
          border: 1px solid var(--color-light-gray);
          border-top: 0;
          padding: 1.625rem 1.25rem;
     }
}

#swiperNet{
     .swiper-slide{
          border: 1px solid var(--color-light-gray);
          padding: 1.125rem;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: var(--color-white-background);
     }
     .swiper-slide-net {
          @media #{$mouse-device} {
               &:hover{
                    span{
                         color: var(--color-green);
                    }
               }
               &:hover .swiper-slide-net__img{
                    mix-blend-mode: normal;
               }
          }
		&__text {
               display: flex;
               height: 100%;
               flex-direction: column;
               justify-content: space-between;
               margin-left: 1.375rem;
               p{
                    color: var(--color-black);
                    font-family: $font-Rubik;
                    font-size: .75rem;
                    font-weight: 600;
                    margin-bottom: 0;
               }
               span{
                    color: var(--color-darkest-green);
                    font-family: $font-Rubik;
                    font-size: .875rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: $transition-3;
               }
		}
          &__img{
               max-width: 7.875rem;
               max-height: 3.875rem;
               overflow: hidden;
               display: grid;
               place-items: center;
               mix-blend-mode: luminosity;
               transition: $transition-3;
               img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
               }
          }
     }
}

@import './img-slider';

.swiper-news-new.swiper-news .swiper-slide-filter{
     background: none;
}

.swiper-news-new {
     .swiper-news__text{
          top: -190px;
          left: 0px;
          max-width: 100%;
          background-color: rgba(25, 135, 84, 0.60);
          padding: 1.25rem 1.875rem 5rem;
          p{
               @media #{$ui-mobile} {
                    font-size: .9375rem;
               }
          }
     }
}